@import "./variables.css";

/*:root{*/
    /*--arrow-color: !*#15061d*!;*/
    /*--buttonUpgradeBg: #15061d;*/
/*}*/

.header{
    position: absolute;
    /*width: auto;*/
    height: calc(100% / 15);
    top: 0;
    left: calc(100% / 7);
    right: 0;
    background-color: var(--bgcSecond);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    /*gap: 45%;*/

}
.arrowIcons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    /*width: 6%;*/
    /*height: 7vh;*/
}

#arrowLeft {

}
#arrowRight {

}
#arrowLeft, #arrowRight {
    color: var(--mainWhite) /*var(--arrow-color)*/;
    font-size: 1.25rem/*1.7rem*/;
}
.accountIcons{
    /*width: 30%;*/
    /*height: 7vh;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}
.accountIcons button{
    /*width: 30%;*/
    /*height: 55%;*/
    padding: .75em 2.25em;
    background-color: var(--bgcMain)/*var(--buttonUpgradeBg)*/;
    color: var(--mainWhite);
    border-radius: 25px/*15px*/;
    border: solid var(--mainWhite) 1px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.7rem;
    outline: none;
}
.profile{
    display: flex;
    position: relative;
    /*width: 30%;*/
    /*height: 50%;*/
    /*background-color: var(--buttonUpgradeBg);*/
    /*justify-content: space-between;*/
    /*border-radius: 45px;*/
}
.profileWrapper{
    /*width: 85%;*/
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: .75em;
    background-color: var(--bgcMain)/*var(--buttonUpgradeBg)*/;
    border-radius: 45px;
}
/*.profileWrapper > * {*/
/*    */
/*}*/
.profileImg{
    width: 30px;
    height: 30px;
    background: url("https://i.ytimg.com/vi/WAnEM_HTKgA/maxresdefault.jpg") no-repeat center / cover;
    border-radius: 100%;
    /*margin-left: 3px;*/
}
.profile p{
    color: var(--mainWhite);
    font-size: 16px;
}
.profile i{
    color: var(--mainWhite);
    margin-right: 5px;
}

.dropdownProfileMenu{
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    /*opacity: 0;*/
    /*pointer-events: none;*/
    transition: all 0.4s ease;
    background-color: var(--bgcMain)/*var(--buttonUpgradeBg)*/;
    z-index: 1;
}

.dropdownProfileMenu ul{
    /*height: 28vh;*/
    /*width: 200px;*/
    white-space: nowrap;
    /*position: absolute;*/
    /*list-style: none;*/
    /*display: flex;*/
    flex-direction: column;
    /*justify-content: space-evenly;*/
    padding: 10px/*15px*/;
}
.dropdownProfileMenu a{
    display: block;
    color: var(--mainWhite);
    padding: .5em 1em;
}
.dropdownProfileMenu a:hover{
    background-color: var(--bgcSecond);
}
/*.dropdownProfileMenu li:hover{*/
/*    background-color: var(--bgcSecond);*/
/*}*/
/*.dropdownProfileMenu li{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*cursor: pointer;*/
/*}*/

/*change a when hover list*/
/*.dropdownProfileMenu li:hover + .dropdownProfileMenu a{*/
/*    color: black;*/
/*}*/





